.PatientPage-container {
  padding: 1rem;
  overflow-y: scroll;
}

.PatientPage-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.PatientPage-create-patient-button {
  width: 120px;
  height: 40px;
  border-radius: 1.5rem;
  background-color: var(--dark);
  color: var(--beige);
  cursor: pointer;
  transition: transform 0.25s;
}

.PatientPage-create-patient-button:hover {
  transform: scale(1.05);
}

.PatientPage-cards {
  padding: 1rem;
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.previous-page, .next-page {
  background-color: rgb(18, 122, 143);
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.current-page {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;

}

.pagination li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.active{
  background: rgb(18, 122, 143);
}

.disable{
  background: #ccc;
}